<div *ngIf="!isOpenView" class="w-full flex flex-col">
    <header class="w-full flex justify-between p-4 border-b bg-gray-50">
        <h1 class="text-3xl font-bold flex items-center text-primary-900">
            <mat-icon svgIcon="nightlight" class="icon-size-10 text-primary-800 mx-4"></mat-icon>
            Overtime
        </h1>
        <button mat-flat-button color="primary" type="button" (click)="requestOvertime()">
            Request overtime
        </button>
    </header>

    <section class="details p-6 flex flex-col">
        <header class="flex justify-between items-end mb-2">
            <h2 class="font-bold text-primary-800 pb-2">Requests Details</h2>
            <nav class="flex gap-2">
                <!-- <button type="button"
                        class="rounded px-3 py-1 border-b-2 bg-slate-50 cursor-pointer"
                >
                    Filter
                </button> -->
                <button type="button"
                        class="rounded px-3 py-1 border-b-2"
                        [class.bg-green-700]="tabIndex === 'my'"
                        [class.text-white]="tabIndex === 'my'"
                        (click)="tabIndex='my'"
                >
                    My Requests
                </button>
                <button type="button"
                        class="rounded px-3 py-1  border-b-2"
                        [class.bg-green-700]="tabIndex === 'team'"
                        [class.text-white]="tabIndex === 'team'"
                        (click)="tabIndex='team'"
                >
                     My team Requests
                </button>
            </nav>
        </header>
        <div class="py-2 bg-white rounded shadow flex flex-col overflow-x-auto relative">
            <div class="min-h-100">
            <table *ngIf="tabIndex === 'my'" mat-table [dataSource]="employeeRequest" class="table-primary  ">
    
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
    
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef><span class="whitespace-nowrap"> Id </span></th>
                    <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
                </ng-container> 
    
    
                <ng-container matColumnDef="Sequence">
                    <th mat-header-cell *matHeaderCellDef><span class="whitespace-nowrap"> Sequence </span></th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
                </ng-container>
    
                <!-- date_end Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef><span class="whitespace-nowrap"> Date</span>
                    </th>
                    <td mat-cell *matCellDef="let element"><span
                        class="whitespace-nowrap"> {{ element.request_date | date }} </span></td>
                </ng-container>
                <!-- employee Column -->
    
                <!-- total_compensation Column -->
    
    
                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef><span class="whitespace-nowrap"> Status </span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="whitespace-nowrap">{{ getStatus(element.request_status) }}</span></td>
                </ng-container>
    
    
                <!-- description Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef><span
                        class="whitespace-nowrap"> Type </span></th>
                    <td mat-cell *matCellDef="let element"><span
                        class="whitespace-nowrap">{{ element.approval_type }}</span></td>
                </ng-container>
    
                <ng-container matColumnDef="Note">
                    <th mat-header-cell *matHeaderCellDef><span
                        class="whitespace-nowrap"> Note </span></th>
                    <td mat-cell *matCellDef="let element">
                        <span class="whitespace-nowrap" [innerHTML]="element.reject_reason" *ngIf="element.reject_reason"></span></td>
                </ng-container>
    
    
    
                <!-- total_days Column -->
                <!-- <ng-container matColumnDef="total_days">
                    <th mat-header-cell *matHeaderCellDef><span
                        class="whitespace-nowrap"> Total Days </span></th>
                    <td mat-cell *matCellDef="let element"><span
                        class="whitespace-nowrap">{{ element.note }}</span></td>
                </ng-container> -->
    
                <!-- request_manager Column -->
                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef><span
                        class="whitespace-nowrap">  </span></th>
                    <td mat-cell *matCellDef="let element">
                        <span class="whitespace-nowrap">
                        <button class="hover:bg-green-800 w-20 text-white p-2 rounded-lg mr-3 bg-green-700" *ngIf="element.request_status==='new' || element.request_status==='refused' " (click)="updateInfo(element);$event.stopPropagation()">Edit</button>
                        <button class="hover:bg-blue-800 w-20 text-white p-2 rounded-lg bg-blue-700" *ngIf="element.request_status==='new'" (click)="updateRequestStatus('submit',element.id);$event.stopPropagation()">Submit</button>
                    </span>
                </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;" class="hover:cursor-pointer hover:bg-indigo-600 hover:text-gray-50" (click)="openView(row)"></tr>
            </table>
            <table *ngIf="tabIndex === 'team'" mat-table [dataSource]="requestsNeedapproves" class="table-primary  ">
    
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
    
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef><span class="whitespace-nowrap"> Id </span></th>
                    <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
                </ng-container> 
    
    
                <ng-container matColumnDef="Sequence">
                    <th mat-header-cell *matHeaderCellDef><span class="whitespace-nowrap"> Sequence </span></th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
                </ng-container>
    
                <!-- date_end Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef><span class="whitespace-nowrap"> Date</span>
                    </th>
                    <td mat-cell *matCellDef="let element"><span
                        class="whitespace-nowrap"> {{ element.request_date | date }} </span></td>
                </ng-container>
                <!-- employee Column -->
    
                <!-- total_compensation Column -->
    
    
                <!-- status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef><span class="whitespace-nowrap"> Status </span>
                    </th>
                    <td mat-cell *matCellDef="let element"><span
                        class="whitespace-nowrap">{{ getStatus(element.request_status) }}</span></td>
                </ng-container>
    
    
                <!-- description Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef><span
                        class="whitespace-nowrap"> Type </span></th>
                    <td mat-cell *matCellDef="let element"><span
                        class="whitespace-nowrap">{{ element.approval_type }}</span></td>
                </ng-container>
    
                <ng-container matColumnDef="Note">
                    <th mat-header-cell *matHeaderCellDef><span
                        class="whitespace-nowrap"> Note </span></th>
                    <td mat-cell *matCellDef="let element">
                        <span class="whitespace-nowrap" *ngIf="element.reject_reason">{{ extractText(element.reject_reason) }}</span></td>
                </ng-container>
    
    
    
                <!-- total_days Column -->
                <!-- <ng-container matColumnDef="total_days">
                    <th mat-header-cell *matHeaderCellDef><span
                        class="whitespace-nowrap"> Total Days </span></th>
                    <td mat-cell *matCellDef="let element"><span
                        class="whitespace-nowrap">{{ element.note }}</span></td>
                </ng-container> -->
    
                <!-- request_manager Column -->
                <ng-container matColumnDef="action" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef><span
                        class="whitespace-nowrap">  </span></th>
                    <td mat-cell *matCellDef="let element">
                        <span class="whitespace-nowrap">
                        <button class="hover:bg-green-800 w-20 text-white p-2 rounded-lg mr-3 bg-green-700" *ngIf="element.request_status != 'rejected' && element.request_status !='approved' " (click)="updateRequestStatus('approved',element.id);$event.stopPropagation()">Approve</button>
                        <button class="hover:bg-red-800 w-20 text-white p-2 rounded-lg bg-red-700" *ngIf="element.request_status != 'rejected' && element.request_status != 'approved'" (click)="updateRequestStatus('rejected',element.id);$event.stopPropagation()">Reject</button>
                    </span>
                </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;" class="hover:cursor-pointer hover:bg-indigo-600 hover:text-gray-50" (click)="openView(row)"></tr>
            </table>
    
          
            </div>
    
        </div>
    </section>
</div>


<app-view-overtime [request]="selectedRequest" *ngIf="isOpenView" class="w-full"></app-view-overtime>