<div class="  border-b py-4  text-center">
    <h1 class="text-xl font-bold"> Request resgination</h1>
</div>

<section class="p-6 overflow-auto">
    <form class="flex flex-col gap-2" [formGroup]="resignationForm" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label>Request Type</mat-label>
            <mat-select [formControlName]="'approval_type'" (valueChange)="changeRequestType($event)" >
                    <mat-option [value]="'resignation'">Resignation</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Request Type</mat-label>
            <mat-select [formControlName]="'resignation_type'">
                    <mat-option [value]="'resignation'">Resignation</mat-option>
                    <mat-option [value]="'termination_of_contract'">Termination of contract</mat-option>
            </mat-select>
        </mat-form-field>

        @if(resignationForm.get('resignation_type').value==='resignation') {
        <mat-form-field>
            <mat-label>Resignation reason</mat-label>
            <input type="text" matInput [formControlName]="'resignation_reason'">
        </mat-form-field>
  
        <mat-form-field>
            <mat-label>Last date of work</mat-label>
            <input matInput [matDatepicker]="picker" [formControlName]="'last_date'">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>  
        }
          @if(resignationForm.get('resignation_type').value==='termination_of_contract') {

          <mat-form-field>
            <mat-label>Termination reason</mat-label>
            <mat-select [formControlName]="'termination_reason'">
                    <mat-option [value]="'mutual_consent'">Ending a relationship by mutual consent</mat-option>
                    <mat-option [value]="'article_53'">Ending a relationship in accordance with Article 53</mat-option>
                    <mat-option [value]="'trial_period'">Ending a trial period</mat-option>
                    <mat-option [value]="'not_renewing'">Not renewing the contract</mat-option>
                    <mat-option [value]="'other'">Other</mat-option>
            </mat-select>
        </mat-form-field>

        @if(resignationForm.get('termination_reason').value==='other') {
        <mat-form-field>
            <mat-label>Reason</mat-label>
            <input type="text" matInput [formControlName]="'other_reason'">
        </mat-form-field>
    }
    }
        <button type="submit" class="mt-3" mat-raised-button color="primary">Submit</button>


    </form>
</section>