.userFedback h2{
    background-color: rgb(180, 173, 173);
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    height: 40px;

}
.userFedback{
    width: 500px;
}
.userFedback h3{
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold
}