<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w-full flex flex-col h-full overflow-scroll">
<header class="w-full flex items-center p-4 border-b bg-gray-50">
  <span class="cursor-pointer" (click)="onBackPressed()">
    <mat-icon svgIcon="arrow_back_ios"></mat-icon>
  </span>
   <h1 class="text-3xl font-bold flex items-center text-primary-900">
      <mat-icon svgIcon="mat_solid:speaker_notes" class="icon-size-10 text-primary-800 mx-4" ></mat-icon>
      {{appraisal.employee_id[1]}} appraisals
    </h1>
  </header>

  <div class="w-full h-auto flex flex-col md:flex-row items-center md:items-stretch justify-between p-5 bg-gray-50 shadow-md rounded-lg gap-6">
    <!-- Employee Card -->
    <div class="flex flex-col items-center text-center p-6 bg-white rounded-lg w-full md:w-1/2 userFedback">
      <div class="w-full flex justify-between items-center p-5">
        <div class="text-xl font-bold">
          {{appraisal.employee_id[1]}}
        </div>
        <div>       
           <!-- <img src="data:image/svg+xml;base64,{{employeeImage}}" alt="userImage" class="w-13 h-13"> -->
           <img  src="https://static-00.iconduck.com/assets.00/person-icon-512x483-d7q8hqj4.png" alt="Manager Image" class="w-13 h-13">

        </div>
      </div>
      <div *ngIf="appraisal.employee_feedback_published" [innerHTML]="userFeedback"></div>
      <div
        *ngIf="!appraisal.employee_feedback_published"
        class="flex flex-col items-center justify-center h-100 mt-4 mat-elevation-z2 bg-gray-50 border rounded-lg"
      >
        <mat-icon color="primary" class="mb-2" style="font-size: 48px;">hourglass_empty</mat-icon>
        <p class="mat-body-1 text-center text-gray-600">Your feedback is pending</p>
      </div>
    </div>

    <!-- Manager Card -->
    <div class="flex flex-col items-center text-center p-6 bg-white rounded-lg w-full md:w-1/2 userFedback">
      <div class="w-full flex justify-between items-center p-5">
        <div class="text-xl font-bold flex flex-col">
          {{appraisal.managerDetails[0].name}}
        </div>
        <div>       
          <!-- <img *ngFor="let image of managerImages" src="data:image/svg+xml;base64,{{image}}" alt="Manager Image" class="w-5 h-5"> -->
          <img  src="https://static-00.iconduck.com/assets.00/person-icon-512x483-d7q8hqj4.png" alt="Manager Image" class="w-13 h-13">
        </div>
      </div>
      <div *ngIf="appraisal.manager_feedback_published" [innerHTML]="managerFeedback"></div>
      <span class="text-3xl font-bold text-gray-800">{{appraisal.result}}</span>
      <div
        *ngIf="!appraisal.manager_feedback_published"
        class="flex flex-col items-center justify-center h-100 mt-4 mat-elevation-z2 bg-gray-50 border rounded-lg"
      >
        <mat-icon color="primary" class="mb-2" style="font-size: 48px;">hourglass_empty</mat-icon>
        <p class="mat-body-1 text-center text-gray-600">Manager feedback is pending</p>
      </div>
    </div>

     <!-- Result -->

  </div>


</div>


