<div class="  border-b py-4  text-center">
    <h1 class="text-xl font-bold"> Request Business Trip</h1>
</div>
<section class="p-6 overflow-auto">
    <form class="flex flex-col gap-2" [formGroup]="businessTripForm" (submit)="submit($event)">


        <!--         11 category_id: [1], -->
        <!--       <mat-form-field>
                   <mat-label>Category</mat-label>
                   <mat-select formControlName="category_id">
                       @for (tripType of tripLookupResponse?.categories; track tripType.id) {
                           <mat-option [value]="tripType.id">{{ tripType.name }}</mat-option>
                       }
                   </mat-select>
               </mat-form-field>-->
        <input type="hidden" formControlName="category_id">

        <!--{{businessTripForm.value.category_id}}-->

        <!--           0 trip_type -->
        <mat-form-field>
            <mat-label>Trip Type</mat-label>
            <mat-select formControlName="trip_type_local" (selectionChange)="onTrip_type_localChange($event)">
                <!--                @for (tripType of tripLookupResponse?.other_trip_types; track tripType.key) {-->
                <mat-option [value]="'business_trip'">Business Trip</mat-option>
                <mat-option [value]="'visit_clients'">Visit Clients</mat-option>
                <!--                }-->
            </mat-select>
        </mat-form-field>

        <input type="hidden" formControlName="trip_type">


        <!--     4 end_date    3 start_date -->

        <mat-form-field *ngIf="businessTripForm.value['trip_type_local'] === 'business_trip'">
            <mat-label>Enter a date range*</mat-label>
            <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
                <input matStartDate formControlName="start_date" placeholder="Start date"
                       (dateInput)="onDateChange($event)">
                <input matEndDate formControlName="end_date" placeholder="End date" (dateInput)="onDateChange($event)">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            @if (businessTripForm.controls['start_date'].hasError('matStartDateInvalid')) {
                <mat-error>Invalid start date</mat-error>
            }
            @if (businessTripForm.controls['end_date'].hasError('matEndDateInvalid')) {
                <mat-error>Invalid end date</mat-error>
            }
        </mat-form-field>

        <mat-form-field *ngIf="businessTripForm.value['trip_type_local'] === 'business_trip'"
        >
            <mat-label>Duration Term</mat-label>
            <input matInput readonly [value]="(businessTripTerm || 'No Range') +' (' +(durationDelta || 0 ) + ' days)'">
        </mat-form-field>


        <mat-divider class="mb-3"></mat-divider>


        <!--  1 employee_id: -->
        <input type="hidden" formControlName="employee_id">


        <!--    13 number_of_trips: [5], -->
        <mat-form-field *ngIf="businessTripForm.value['trip_type_local']  === 'visit_clients'">
            <mat-label>Number of trips</mat-label>
            <input matInput type="number" formControlName="number_of_trips" placeholder="Number of trips" value="">
        </mat-form-field>

        <!-- 5 distance -->
        <mat-form-field *ngIf="businessTripForm.value['trip_type']  === 'short_term'">
            <mat-label>Distance</mat-label>
            <mat-select formControlName="distance">
                @for (tripType of tripLookupResponse?.distance_categories; track tripType.key) {
                    <mat-option [value]="tripType.key">{{ tripType.value }}</mat-option>
                }
            </mat-select>
        </mat-form-field>


        <!--    7 accommodation_paid_by_company: [false],
               8 international_trip: [false],
              9  car_provided: [false],
               10 tickets_allowance: [true],
               -->
        <section class="flex flex-col mb-3" *ngIf="businessTripForm.value['distance']==='200_above' ">
            <mat-checkbox class="example-margin" formControlName="accommodation_paid_by_company">Accommodation paid by
                company
            </mat-checkbox>
            <mat-checkbox class="example-margin" formControlName="international_trip">International trip</mat-checkbox>
            <mat-checkbox class="example-margin" formControlName="car_provided">Car provided</mat-checkbox>
            <mat-checkbox class="example-margin" formControlName="tickets_allowance">Tickets allowance</mat-checkbox>

        </section>


        <!--         2 location_of_the_trip: ['Dubai, UAE'],  -->
        <!--        *ngIf="businessTripForm.value['trip_type']  === 'business_trip_foreigners_ksa'"-->
        <mat-form-field>
            <mat-label>Location of the trip Or Client</mat-label>
            <input matInput formControlName="location_of_the_trip" placeholder="Dubai, UAE" value="">
        </mat-form-field>


        <mat-divider class="my-2"></mat-divider>


        <!--      6  approval_cycle_type   -->
        <mat-label class="w-full">Approval Type</mat-label>
        <mat-radio-group formControlName="approval_cycle_type" aria-label="Select an option"
        >
            <mat-radio-button value="project">
                <span [class.text-red-600]="!!businessTripForm.controls['approval_cycle_type'].errors
                 && !!businessTripForm.controls['approval_cycle_type'].touched"
                >Project</span>
            </mat-radio-button>
            <mat-radio-button value="administrator">
                 <span [class.text-red-600]="!!businessTripForm.controls['approval_cycle_type'].errors
                 && !!businessTripForm.controls['approval_cycle_type'].touched"
                 >Administrator</span>
            </mat-radio-button>
        </mat-radio-group>


        <!--     12  project_id: [1], -->
        <mat-form-field *ngIf="businessTripForm.value['approval_cycle_type']==='project'">
            <mat-label>Project</mat-label>
            <mat-select formControlName="project_id" placeholder="Project">
                @for (tripType of tripLookupResponse?.projects; track tripType.id) {
                    <mat-option [value]="tripType.id">{{ tripType.name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>


        <mat-divider class="my-2"></mat-divider>

        <div class="flex justify-end">
            <button type="submit" mat-raised-button color="primary"> Submit</button>
        </div>


    </form>


</section>
