<form class="flex flex-col gap-2" [formGroup]="salaryClearanceForm" (ngSubmit)="submitForm()">
    <!--0 trip_type -->
      <div class="mb-4">
          <!-- Label -->
          <mat-label class="block text-sm font-medium text-gray-700 mb-2">Chamber of Commerce</mat-label>
        
          <!-- Radio Buttons -->
          <mat-radio-group
            formControlName="salary_certificate_attested"
            aria-label="Chamber of Commerce"
            class="flex gap-2"
          >
            <mat-radio-button [value]="true" class="flex">
              <span>Yes</span>
            </mat-radio-button>
            <mat-radio-button [value]="false" class="flex items-center">
              <span>No</span>
            </mat-radio-button>
          </mat-radio-group>
        
          <!-- Conditional Note -->
          @if (salaryClearanceForm.controls['salary_certificate_attested'].value === true) {
            <div class="mt-2 text-sm text-red-700 bg-red-50 p-2 rounded-md">
              *Note: There will be a fee of 35 SR.
            </div>
          }
        
          <!-- Validation Error -->
          @if (salaryClearanceForm.controls['salary_certificate_attested'].hasError('required')) {
            <mat-error class="text-sm text-red-600 mt-1">This field is required</mat-error>
          }
        </div>

            <div>
            <!-- <mat-form-field> -->
            <mat-label class="block text-sm font-medium text-gray-700 mb-2">Language of the certificate</mat-label>
            <mat-radio-group  class="flex gap-2" formControlName="certificate_language" aria-label="Chamber of Commerce">
              <mat-radio-button [value]="'ar'">Arabic</mat-radio-button>
              <mat-radio-button [value]="'en'">English</mat-radio-button>
            </mat-radio-group>
            <br>
            @if (salaryClearanceForm.controls['certificate_language'].hasError('required')) {
              <mat-error>This field is required</mat-error>
            }
        <!-- </mat-form-field> -->
          </div>

                    <mat-form-field>
            <mat-label>Addressed to</mat-label>
            <mat-select formControlName="salary_addressed_to">
                <mat-option [value]="'specific'">Specific entity</mat-option>
                <mat-option [value]="'general'">Whom It may concern</mat-option>
            </mat-select>
        </mat-form-field>
        @if (salaryClearanceForm.controls['salary_addressed_to'].value==='specific') {
        <div class="flex flex-col gap-2">
            <mat-form-field appearance="outline">
              <mat-label>Entity</mat-label>
              <input matInput type="text" formControlName="entity_name">
              @if (salaryClearanceForm.controls['entity_name'].hasError('required')) {
              <mat-error>
                This field is required
              </mat-error>}
            </mat-form-field>
          </div>
    }
    
            <div class="flex flex-col gap-2">
            <label class="text-sm font-medium text-gray-700">
              Do you want the salary breakdown to be detailed or presented in a summarized form?
            </label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="salary_breakdown_type">
                <mat-option [value]="'detailed'">Detailed</mat-option>
                <mat-option [value]="'summarized'">Summarized form</mat-option>
              </mat-select>
              @if (salaryClearanceForm.controls['salary_breakdown_type'].hasError('required')) {
                <mat-error>This field is required</mat-error>
              }
            </mat-form-field>
          </div>
          
          <div>
            <!-- <mat-form-field> -->
            <mat-label class="block text-sm font-medium text-gray-700 mb-2">Will it be addressed to a bank?</mat-label>
            <mat-radio-group  class="flex gap-2" formControlName="addressed_to_bank">
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
            <br>

            @if (salaryClearanceForm.controls['addressed_to_bank'].hasError('required')) {
              <mat-error>This field is required</mat-error>
            }

            <ng-container *ngIf="salaryClearanceForm.get('addressed_to_bank')?.value">
              <div formArrayName="documents">
                <ng-container *ngFor="let doc of documentsArray.controls; let i = index" [formGroupName]="i">
                  <mat-label>{{ doc.get('type')?.value }}</mat-label>
                  <app-upload-request *ngIf="!(documents && documents[doc.get('type').value])" (fileSelected)="handleFile($event, i)"></app-upload-request>
                  
                  <div *ngIf="documents[doc.get('type').value]" class="relative flex items-center justify-center">
                    <a [href]="documents[doc.get('type').value].url" download="{{ doc.get('type').value }}" target="_blank">
                      <!-- <img *ngIf="documents[doc.get('type').value].type.contain('image')" src="images/logo/hawsabah-logo.png" alt="Image" class="w-20 h-20 bg-slate-300 flex items-center justify-center"> -->
                      <div class="w-full h-15 bg-slate-300 flex items-center justify-center">
                        Download attachment
                      </div>
                    </a>
                    <button (click)="removeAttachment(documents[doc.get('type').value].id,doc.get('type').value);$event.stopPropagation()" class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full px-2 py-1 text-xs">
                      ✕
                  </button>
                  </div>
                  
                </ng-container>
                
              </div>
            
              <!-- <ng-container>
                <mat-label>National residence</mat-label>
                <app-upload-request (fileSelected)="handleFile($event,'national_residence')"></app-upload-request>
              </ng-container>
            
              <ng-container>
                <mat-label>Passport</mat-label>
                <app-upload-request (fileSelected)="handleFile($event,'passport')"></app-upload-request>
              </ng-container> -->
            </ng-container>
            
            
            
              

        <!-- </mat-form-field> -->
          </div>

        <button mat-raised-button color="primary" type="submit">Save</button>

</form>