<div class="w-full flex flex-col overflow-scroll">

    <header class="w-full flex flex-wrap flex-col p-4 border-b bg-gray-50">
      <div class="w-full flex justify-between items-center">
        <span class="cursor-pointer" (click)="closeSidePage()">
          <mat-icon svgIcon="close"></mat-icon>
        </span>
        <h1 class="text-xl font-bold text-primary-900 text-center flex-1">
          Employee Request Details
        </h1>
      </div>
    </header>
  
    <div class="w-full flex flex-wrap items-center justify-center py-8 border-b-2 gap-y-2">
      <div class="flex items-center">
        <div class="text-black flex items-center justify-center px-2 py-1 rounded-lg border-solid border-black border-2 border-opacity-50" [ngClass]="request.request_status==='new'?'bg-green-300':'bg-slate-50'">Submission</div>
        <div class="flex items-center"><mat-icon svgIcon="keyboard_arrow_right"></mat-icon></div>
      </div>
      <div class="flex items-center">
        <div class="flex items-center justify-center px-2 py-1 rounded-lg border-solid border-black border-2 border-opacity-50" [ngClass]="request.request_status==='hr_review'?'bg-green-300':'bg-slate-50'">HR</div>
        <div class="flex items-center"><mat-icon svgIcon="keyboard_arrow_right"></mat-icon></div>
      </div>
      
      <div class="flex items-center">
        <div class="flex items-center justify-center px-2 py-1 rounded-lg bg-slate-50 border-solid border-black border-2 border-opacity-50"  *ngIf="request.request_status != 'approved' && request.request_status!='refused' && request.request_status!='cancel'">Approval</div>
        <div class="flex items-center justify-center px-2 py-1 rounded-lg bg-green-300 border-solid border-black border-2 border-opacity-50"  *ngIf="request.request_status == 'approved'">Approved</div>
        <div class="flex items-center justify-center px-2 py-1 rounded-lg bg-red-400 border-solid border-black border-2 border-opacity-50"  *ngIf="request.request_status == 'refused'">Refused</div>
        <div class="flex items-center justify-center px-2 py-1 rounded-lg bg-red-400 border-solid border-black border-2 border-opacity-50"  *ngIf="request.request_status == 'cancel'">Canceled</div>
      </div>
    </div>
  
    <section class="details p-6 pb-2 flex flex-col">
      <div class="bg-white py-2 rounded-lg flex flex-col gap-2">
  
        <div class="grid grid-cols-2 sm:grid-cols-2 gap-4 mb-4">
          <div>
            <span class="text-black text-opacity-50 text-lg">Employee:</span>
            <p class="text-black font-bold text-lg">{{ request.employee_name || 'N/A' }}</p>
          </div>
          <div>
            <span class="text-black text-opacity-50 text-lg" *ngIf="request.requested_salary_date">requested salary date:</span>
            <p class="text-black font-bold text-lg">{{ request.requested_salary_date || 'N/A' }}</p>
          </div>
          <div>
            <span class="text-black text-opacity-50 text-lg" *ngIf="request.id_no">Id number:</span>
            <p class="text-black font-bold text-lg">{{ request.id_no || 'N/A' }}</p>
          </div>
          <div>
            <span class="text-black text-opacity-50 text-lg" *ngIf="request.iban_no">IBAN:</span>
            <p class="text-black font-bold text-lg">{{ request.iban_no || 'N/A' }}</p>
          </div>
          <div>
            <span class="text-black text-opacity-50 text-lg" *ngIf="request.iban_no">Passport number:</span>
            <p class="text-black font-bold text-lg">{{ request.pass_no || 'N/A' }}</p>
          </div>
        </div>

        <span class="text-black text-opacity-50 text-lg" *ngIf="request.signed">Signed Attachments</span>
        <a *ngIf="request.signed" [href]="getFullPath(request.sign_attachment)" class="flex items-center justify-between bg-slate-50 hover:bg-slate-100 cursor-pointer rounded">
          <div class="flex flex-col pl-2">
            <span>File name</span>
            <span class="font-bold" matTooltip="Sign attachment">
              Sign attachment
            </span>            
            </div>
            <!-- <div *ngIf="files[0].mimetype.includes('image')">
              <img [src]="getFullPath(files[0].url)" [alt]="files[0].name" class="w-13 h-13 rounded border-black border border-opacity-12 object-cover">
            </div> -->
            <div class="w-14 h-14 flex items-center justify-center bg-slate-500 rounded">
              <img src="icons/pdf.png" alt="PDF Icon" class="w-9 h-9">
            </div>
        </a>
        <div class="flex items-center gap-3 justify-end mt-8">
            <button class="w-26 h-6 bg-gray-400 text-black px-8 py-5 rounded flex items-center justify-center hover:bg-gray-500" *ngIf="request.request_status==='new' || request.request_status==='refused'" (click)="updateInfo(request)">Edit</button>
            <button class="w-26 h-6 bg-emerald-400 text-black px-8 py-5 rounded flex items-center justify-center hover:bg-emerald-500" *ngIf="request.request_status==='new' && request.type==='self' " (click)="updateRequestStatus('submit',request.id)">Submit</button>
            <button class="w-26 h-6 bg-gray-400 text-black px-8 py-5 rounded flex items-center justify-center hover:bg-gray-500" *ngIf="request.type!='self'" (click)="updateRequestStatus('rejected',request.id)">Reject</button>
            <button class="w-26 h-6 bg-emerald-400 text-black px-8 py-5 rounded flex items-center justify-center hover:bg-emerald-500" *ngIf="request.type!='self'" (click)="updateRequestStatus('approved',request.id)">Approve</button>
          </div>
    </div>
</section>
</div>

