<div class="w-full flex flex-col overflow-auto">

  <header class="w-full flex flex-wrap flex-col p-4 border-b bg-gray-50">
    <div class="w-full flex justify-between items-center">
      <span class="cursor-pointer" (click)="onBackPressed()">
        <mat-icon svgIcon="close"></mat-icon>
      </span>
      <h1 class="text-xl font-bold text-primary-900 text-center flex-1">
       Resignation Request Details
      </h1>
    </div>
  </header>

  <div class="w-full flex flex-wrap justify-center px-2 py-8 border-b-2 gap-y-2">
    <div class="flex items-center">
      <div class="text-black flex items-center justify-center px-2 py-1 rounded-lg border-solid border-black border-2 border-opacity-50" [ngClass]="data.request_status==='new'?'bg-green-300':'bg-slate-50'">Submission</div>
    </div>
    <div class="flex items-center">
      <div class="flex items-center"><mat-icon svgIcon="keyboard_arrow_right"></mat-icon></div>
      <div class="flex items-center justify-center px-2 py-1 rounded-lg border-solid border-black border-2 border-opacity-50"  [ngClass]="data.request_status=='direct_manager'?'bg-green-300':'bg-slate-50'">Direct Manager</div>
    </div>
    <div class="flex items-center">
      <div class="flex items-center"><mat-icon svgIcon="keyboard_arrow_right"></mat-icon></div>
      <div class="flex items-center justify-center px-2 py-1 rounded-lg border-solid border-black border-2 border-opacity-50"  [ngClass]="data.request_status==='department_manager'?'bg-green-300':'bg-slate-50'">Department Manager</div>
    </div>
    <div class="flex items-center">
      <div class="flex items-center"><mat-icon svgIcon="keyboard_arrow_right"></mat-icon></div>
      <div class="flex items-center justify-center px-2 py-1 rounded-lg border-solid border-black border-2 border-opacity-50" [ngClass]="data.request_status==='hr_review'?'bg-green-300':'bg-slate-50'">HR</div>
    </div>
    <div class="flex items-center">
      <div class="flex items-center"><mat-icon svgIcon="keyboard_arrow_right"></mat-icon></div>

      <div class="flex items-center justify-center px-2 py-1 rounded-lg bg-slate-50 border-solid border-black border-2 border-opacity-50"  *ngIf="data.request_status != 'approved' && data.request_status!='refused' && data.request_status!='cancel'">Approval</div>
      <div class="flex items-center justify-center px-2 py-1 rounded-lg bg-green-300 border-solid border-black border-2 border-opacity-50"  *ngIf="data.request_status == 'approved'">Approved</div>
      <div class="flex items-center justify-center px-2 py-1 rounded-lg bg-red-400 border-solid border-black border-2 border-opacity-50"  *ngIf="data.request_status == 'refused'">Refused</div>
      <div class="flex items-center justify-center px-2 py-1 rounded-lg bg-red-400 border-solid border-black border-2 border-opacity-50"  *ngIf="data.request_status == 'cancel'">Canceled</div>
    </div>
  </div>
  <section class="details p-6 pb-2 flex flex-col">
    <div class="bg-white py-2 rounded-lg flex flex-col gap-2">

      <div class="grid grid-cols-2 sm:grid-cols-2 gap-4 mb-4">
        <div>
          <span class="text-black text-opacity-50 text-lg">Employee:</span>
          <p class="text-black font-medium text-lg">{{ data.employee_name || 'N/A' }}</p>
        </div>
      <div>
        <span class="text-black text-opacity-50 text-lg">Type:</span>
        <p class="text-black font-medium text-lg">{{ data.resignation_type || 'N/A' }}</p>
      </div>

      <div *ngIf="data.resignation_reason">
        <span class="text-black text-opacity-50 text-lg">Resignation Reason:</span>
        <p class="text-black font-medium text-lg">{{ data.resignation_reason  || 'N/A' }}</p>
      </div>

      <div *ngIf="data.last_date">
        <span class="text-black text-opacity-50 text-lg">Last Date:</span>
        <p class="text-black font-medium text-lg">{{ data.last_date  || 'N/A' }}</p>
      </div>

      <div *ngIf="data.termination_reason">
        <span class="text-black text-opacity-50 text-lg">Termination Reason:</span>
        <p class="text-black font-medium text-lg">{{ data.termination_reason  || 'N/A' }}</p>
      </div>

      <div *ngIf="data.other_reason">
        <span class="text-black text-opacity-50 text-lg">Other Reason:</span>
        <p class="text-black font-medium text-lg">{{ data.other_reason  || 'N/A' }}</p>
      </div>

     
    
</div>
<div class="flex items-center gap-3 justify-end mt-8">
  <button class="w-26 h-6 bg-gray-400 text-black px-8 py-5 rounded flex items-center justify-center hover:bg-gray-500" *ngIf="data.request_status==='new' || data.request_status==='refused' && data.type==='self'" (click)="updateInfo(data)">Edit</button>
  <button class="w-26 h-6 bg-emerald-400 text-black px-8 py-5 rounded flex items-center justify-center hover:bg-emerald-500" *ngIf="data.request_status==='new' && data.type==='self' " (click)="updateRequestStatus('submit',data.id)">Submit</button>
  <button class="w-26 h-6 bg-gray-400 text-black px-8 py-5 rounded flex items-center justify-center hover:bg-gray-500" *ngIf="data.type!='self' && data.can_approve" (click)="updateRequestStatus('rejected',data.id)">Reject</button>
  <button class="w-26 h-6 bg-emerald-400 text-black px-8 py-5 rounded flex items-center justify-center hover:bg-emerald-500" *ngIf="data.type!='self' && data.can_approve" (click)="updateRequestStatus('approved',data.id)">Approve</button>
</div>
        </div>
     </section>

<!--    <button *ngIf="sidePage" mat-button color="primary" (click)="seeMore()">-->
<!--        See More-->
<!--    </button>-->
</div>

