<div class="w-full flex flex-col" >

    <header class="w-full flex justify-between p-4 border-b bg-gray-50">
        <h1 class="text-3xl font-bold flex items-center text-primary-900">
          <span class="cursor-pointer m-2 flex items-center justify-center" (click)="onBackPressed()"><mat-icon svgIcon="arrow_back_ios"></mat-icon></span>
          <span>Request Details</span>
        </h1>
        <div class="grid grid-cols-4 gap-4 mb-4">
            <div class="p-4 text-center text-white rounded-lg font-medium"
            [ngClass]="request.request_status === 'new'
             ? 'bg-green-600 text-white' : 'bg-gray-200 text-gray-700'"
            >Step 1: Submission</div>
           <div class="p-4 text-center bg-gray-200 rounded-lg font-medium text-gray-700"
           [ngClass]="request.request_status === 'direct_manager'
             ? 'bg-green-600 text-white' : 'bg-gray-200 text-gray-700'"
             >Step 2: Manager</div>
           <div class="p-4 text-center bg-gray-200 rounded-lg font-medium text-gray-700"
           [ngClass]="request.request_status === 'hr_review'? 'bg-green-600 text-white' : 'bg-gray-200 text-gray-700'">Step 3: HR</div>
           <div class="p-4 text-center bg-gray-200 rounded-lg font-medium text-gray-700" >Step 4: Approval</div>
       </div>
    </header>
     <!-- <header class="w-full flex justify-between p-4 border-b">
        <h1 class="text-3xl font-bold flex items-center text-primary-900">
            <span class="cursor-pointer mr-4" (click)="closeView()"><</span>Define job
        </h1>
    </header>
     -->
     <section class="details p-6 flex flex-col">
        <header class="flex justify-between items-end mb-2">
            <h2 class="font-bold text-primary-800 pb-2">Requests Details</h2>
        </header>

        <div class="bg-white p-9 rounded-lg flex flex-col gap-2">
  
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
      <div class="col-span-2">
        <strong class="text-gray-600">Employee:</strong>
        <p class="text-gray-800">{{ request.employee_name || 'N/A' }}</p>
      </div>
      <div>
        <strong class="text-gray-600">Overtime type:</strong>
        <p class="text-gray-800">{{ request.overtime_type || 'N/A' }}</p>
      </div>
      <div *ngIf="request.project_id">
        <strong class="text-gray-600">Project:</strong>
        <p class="text-gray-800">{{ getProjectName(request.project_id) }}</p>
      </div>
    </div>
    <!-- Display change family list if 'for_whom' is 'family' -->
      <h3 class="text-xl font-semibold mt-6 mb-4 text-gray-800">Overtime List</h3>
      <table class="min-w-180 m-auto table-auto bg-gray-50 border border-gray-300 shadow-sm rounded-lg">
        <thead>
          <tr class="bg-gray-200">
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Day type</th>
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Note</th>
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Overtime date</th>
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Overtime duration</th>
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Task</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of request.overtime_list" class="border-t border-gray-300">
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.day_type }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.note }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.overtime_date }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.overtime_duration }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ item.task }}</td>
          </tr>
        </tbody>
      </table>


      <table class="min-w-180 m-auto mt-6 table-auto bg-gray-50 border border-gray-300 shadow-sm rounded-lg" *ngIf="salaryInfo">
        <thead>
          <tr class="bg-gray-200">
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">type</th>
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Total salary</th>
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Wage</th>
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Working hour per day</th>
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Over time amount from total salary</th>
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Over time amount from wage</th>
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Amount per hour</th>
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Number of hours</th>
            <th class="px-4 py-2 text-sm text-gray-600 font-medium">Total to be paid</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-gray-300">
            <td class="px-4 py-2 text-sm text-gray-700">Working Day</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ salaryInfo.total_salary | number:'1.2-2'}}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ salaryInfo.wage | number:'1.2-2'}}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ salaryInfo.working_hour_per_day | number:'1.0-2'}}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ overtimeAmountFromToatlSalaryDay | number:'1.2-2'}}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ overtimeAmountFromWageDay | number:'1.2-2'}}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ amountPerHourDay | number:'1.2-2'}}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ totalOvertimeHoursDay | number:'1.2-2'}}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ totalPaidForWorkingDay | number:'1.2-2' }}</td>
          </tr>
          <tr class="border-t border-gray-300">
            <td class="px-4 py-2 text-sm text-gray-700">Holiday</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ salaryInfo.total_salary | number:'1.2-2'}}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ salaryInfo.wage | number:'1.2-2' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ salaryInfo.working_hour_per_day | number:'1.0-2' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ overtimeAmountFromToatlSalaryHoliday | number:'1.2-2' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ overtimeAmountFromWageHoliday | number:'1.2-2' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ amountPerHourHoliday | number:'1.2-2'  }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ totalOvertimeHoursHoliday | number:'1.2-2' }}</td>
            <td class="px-4 py-2 text-sm text-gray-700">{{ totalPaidForWorkingHoliday | number:'1.2-2' }}</td>
          </tr>
          <tr class="mt-3 border-t border-gray-300">
            <th colspan="8">Total paid {{(totalPaidForWorkingDay+totalPaidForWorkingHoliday)|number:'1.2-2'}} </th>
          </tr>
        </tbody>
      </table>

    <div class="flex flex-wrap justify-center gap-8 mt-4 border-t pt-5">
      <div *ngFor="let attachment of files" class="max-w-xs w-full p-4 border rounded-lg shadow-md">
          <p class="text-lg font-semibold text-gray-800">{{ attachment.name }} ({{ attachment.mimetype }})</p>
          
          <!-- View Button -->
          <div class="flex justify-evenly">
              <button 
              (click)="viewAttachment(attachment.url)" 
              mat-button 
              class="mt-2 px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 transition duration-300"
              >
              View
          </button>
          
          <!-- Download Button -->
          <a 
          [href]="getFullUrl(attachment.url)" 
          download="{{ attachment.name }}" 
          target="_blank"
          class="mt-2 inline-block px-4 py-2 bg-green-500 text-white font-semibold rounded-md hover:bg-green-600 transition duration-300"
          >
          <button mat-button class="w-full">Download</button>
      </a>
  </div>
</div>
</div>
  

        </div>
     </section>
</div>