<div class="w-full flex flex-col overflow-scroll">

  <header class="w-full flex flex-wrap flex-col p-4 border-b bg-gray-50">
    <div class="w-full flex justify-between items-center">
      <span class="cursor-pointer" (click)="seeMore()">
        <mat-icon svgIcon="close"></mat-icon>
      </span>
      <h1 class="text-xl font-bold text-primary-900 text-center flex-1">
       Overtime Request Details
      </h1>
    </div>
  </header>

  <div class="w-full flex flex-wrap justify-center py-8 border-b-2 gap-y-2">
    <div class="flex items-center">
      <div class="text-black flex items-center justify-center px-2 py-1 rounded-lg border-solid border-black border-2 border-opacity-50" [ngClass]="data.request_status==='new'?'bg-green-300':'bg-slate-50'">Submission</div>
      <div class="flex items-center"><mat-icon svgIcon="keyboard_arrow_right"></mat-icon></div>
    </div>
    <div class="flex items-center">
      <div class="flex items-center justify-center px-2 py-1 rounded-lg border-solid border-black border-2 border-opacity-50"  [ngClass]="data.request_status=='direct_manager'?'bg-green-300':'bg-slate-50'">Direct Manager</div>
      <div class="flex items-center"><mat-icon svgIcon="keyboard_arrow_right"></mat-icon></div>
    </div>
    <div class="flex items-center">
      <div class="flex items-center justify-center px-2 py-1 rounded-lg border-solid border-black border-2 border-opacity-50"  [ngClass]="data.request_status==='project_manager'?'bg-green-300':'bg-slate-50'">Project Manager</div>
      <div class="flex items-center"><mat-icon svgIcon="keyboard_arrow_right"></mat-icon></div>
    </div>
    <div class="flex items-center">
      <div class="flex items-center justify-center px-2 py-1 rounded-lg border-solid border-black border-2 border-opacity-50" [ngClass]="data.request_status==='hr_review'?'bg-green-300':'bg-slate-50'">HR</div>
      <div class="flex items-center"><mat-icon svgIcon="keyboard_arrow_right"></mat-icon></div>
    </div>
    <div class="flex items-center">
      <div class="flex items-center justify-center px-2 py-1 rounded-lg bg-slate-50 border-solid border-black border-2 border-opacity-50"  *ngIf="data.request_status != 'approved' && data.request_status!='refused' && data.request_status!='cancel'">Approval</div>
      <div class="flex items-center justify-center px-2 py-1 rounded-lg bg-green-300 border-solid border-black border-2 border-opacity-50"  *ngIf="data.request_status == 'approved'">Approved</div>
      <div class="flex items-center justify-center px-2 py-1 rounded-lg bg-red-400 border-solid border-black border-2 border-opacity-50"  *ngIf="data.request_status == 'refused'">Refused</div>
      <div class="flex items-center justify-center px-2 py-1 rounded-lg bg-red-400 border-solid border-black border-2 border-opacity-50"  *ngIf="data.request_status == 'cancel'">Canceled</div>
    </div>
  </div>
  <!-- <header class="w-full flex justify-between p-4 border-b">
        <h1 class="text-3xl font-bold flex items-center text-primary-900">
            <span class="cursor-pointer mr-4" (click)="closeView()"><</span>Define job
        </h1>
    </header>
     -->
  <section class="details p-6 pb-2 flex flex-col">
    <div class="bg-white py-2 rounded-lg flex flex-col gap-2">

      <div class="grid grid-cols-2 sm:grid-cols-2 gap-4 mb-4">
        <div>
          <span class="text-black text-opacity-50 text-lg">Employee:</span>
          <p class="text-black font-medium text-lg">{{ data.employee_name || 'N/A' }}</p>
        </div>
        <div>
          <span class="text-black text-opacity-50 text-lg">Overtime type:</span>
          <p class="text-black font-medium text-lg">{{ data.overtime_type || 'N/A' }}</p>
        </div>
        <div *ngIf="data.project_id">
          <span class="text-black text-opacity-50 text-lg">Project:</span>
          <p class="text-black font-medium text-lg">{{ getProjectName(data.project_id) }}</p>
        </div>
        <div *ngIf="salaryInfo">
          <span class="text-black text-opacity-50 text-lg">Total salary:</span>
          <p class="text-black font-medium text-lg">{{ salaryInfo.total_salary | number:'1.2-2'}} <span class="text-xs">SAR</span></p>
        </div>
        <div *ngIf="salaryInfo">
          <span class="text-black text-opacity-50 text-lg">Wage:</span>
          <p class="text-black font-medium text-lg">{{ salaryInfo.wage | number:'1.2-2'}} <span class="text-xs">SAR</span></p>
        </div>
        <div *ngIf="salaryInfo">
          <span class="text-black text-opacity-50 text-lg">Working hour peer day:</span>
          <p class="text-black font-medium text-lg">{{ salaryInfo.working_hour_per_day}}</p>
        </div>
        <div>
          <span class="text-blue-500 text-opacity-50 text-lg">Total paid:</span>
          <p class="text-blue-700 font-bold text-xl">{{ (totalPaidForWorkingDay+totalPaidForWorkingHoliday)|number:'1.2-2'}} <span class="text-xs">SAR</span></p>
        </div>
      </div>
      <!-- Display change family list if 'for_whom' is 'family' -->
      <h3 class="text-lg font-semibold mt-6 text-gray-800">Overtime List</h3>
      
      <div class="w-full h-fit bg-gray-100 flex flex-wrap items-center p-5 gap-6 md:justify-between" *ngFor="let request of data.overtime_list">
        <div class="flex flex-col">
          <span class="text-lg">Type</span>
          <span class="font-bold text-lg">{{request.day_type}}</span>
        </div>
        <div class="flex flex-col">
          <span class="text-lg">Note</span>
          <span class="font-bold text-lg">{{request.note}}</span>
        </div>
        <div class="flex flex-col">
          <span class="text-lg">Overtime Date</span>
          <span class="font-bold text-lg">{{request.overtime_date}}</span>
        </div>
        <div class="flex flex-col">
          <span class="text-lg">Overtime Duration</span>
          <span class="font-bold text-lg">{{request.overtime_duration}}</span>
        </div>
        <div class="flex flex-col">
          <span class="text-lg">Task</span>
          <span class="font-bold text-lg">{{request.task}}</span>
        </div>
      </div>
      <h3 class="text-lg font-semibold mt-6 text-gray-800">Summary</h3>
      
      <div class="w-full h-fit bg-gray-100 flex items-center flex-wrap gap-6 p-5">
        <div class="flex flex-col">
          <span class="text-lg">Type</span>
          <span class="font-bold text-lg">Workday</span>
        </div>
        <div class="flex flex-col">
          <span class="text-lg">From Total Salary</span>
          <span class="font-bold text-lg">{{overtimeAmountFromToatlSalaryDay | number:'1.2-2'}}</span>
        </div>
        <div class="flex flex-col">
          <span class="text-lg">From Wage</span>
          <span class="font-bold text-lg">{{overtimeAmountFromWageDay | number:'1.2-2'}}</span>
        </div>
        <div class="flex flex-col">
          <span class="text-lg">Hours</span>
          <span class="font-bold text-lg">{{totalOvertimeHoursDay}}</span>
        </div>
        
        <div class="flex flex-col">
          <span class="text-lg">Amount/Hour</span>
          <span class="font-bold text-lg">{{amountPerHourDay | number:'1.2-2'}}</span>
        </div>
        <div class="flex flex-col">
          <span class="text-lg">Total paid</span>
          <span class="font-bold text-lg">{{totalPaidForWorkingDay | number:'1.2-2'}} <span class="text-xs">SAR</span></span>
        </div>
      </div>

 

      <!--    <div class="flex flex-wrap justify-center gap-8 mt-4 border-t pt-5">-->
      <!--      <div *ngFor="let attachment of files" class="max-w-xs w-full p-4 border rounded-lg shadow-md">-->
      <!--          <p class="text-lg font-semibold text-gray-800">{{ attachment.name }} ({{ attachment.mimetype }})</p>-->

      <!--          &lt;!&ndash; View Button &ndash;&gt;-->
      <!--          <div class="flex justify-evenly">-->
      <!--              <button-->
      <!--              (click)="viewAttachment(attachment.url)"-->
      <!--              mat-button-->
      <!--              class="mt-2 px-4 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 transition duration-300"-->
      <!--              >-->
      <!--              View-->
      <!--          </button>-->

      <!--          &lt;!&ndash; Download Button &ndash;&gt;-->
      <!--          <a-->
      <!--          [href]="getFullUrl(attachment.url)"-->
      <!--          download="{{ attachment.name }}"-->
      <!--          target="_blank"-->
      <!--          class="mt-2 inline-block px-4 py-2 bg-green-500 text-white font-semibold rounded-md hover:bg-green-600 transition duration-300"-->
      <!--          >-->
      <!--          <button mat-button class="w-full">Download</button>-->
      <!--      </a>-->
      <!--  </div>-->
      <!--</div>-->
      <!--</div>-->


      <div class="flex items-center gap-3 justify-end mt-8">
        <button class="w-26 h-6 bg-gray-400 text-black px-8 py-5 rounded flex items-center justify-center hover:bg-gray-500" *ngIf="data.request_status==='new' || data.request_status==='refused'" (click)="updateInfo(data)">Edit</button>
        <button class="w-26 h-6 bg-emerald-400 text-black px-8 py-5 rounded flex items-center justify-center hover:bg-emerald-500" *ngIf="data.request_status==='new' && data.type==='self' " (click)="updateRequestStatus('submit',data.id)">Submit</button>
        <button class="w-26 h-6 bg-gray-400 text-black px-8 py-5 rounded flex items-center justify-center hover:bg-gray-500" *ngIf="data.type!='self' && data.can_approve" (click)="updateRequestStatus('rejected',data.id)">Reject</button>
        <button class="w-26 h-6 bg-emerald-400 text-black px-8 py-5 rounded flex items-center justify-center hover:bg-emerald-500" *ngIf="data.type!='self' && data.can_approve" (click)="updateRequestStatus('approved',data.id)">Approve</button>
      </div>
    </div>
  </section>
</div>